.vibes-pilot-toolbar {
    position: relative;
    padding: 0 10px;
    border: 1px solid #ccd0d4;
    margin: 12px 0;
    height: auto;
}

.vibes-logger-view {
    background-color: #23282d;
    width: 100%;
    height: 60vh;
    float: right;
    border-radius: 4px;
}

#vibes-logger-lines {
    padding: 2px 14px;
    overflow: scroll;
    height: 58vh;
}

.vibes-logger-line {
    display: block;
    font-family: monospace;
    font-size: 12px;
    line-height: 0.9em;
}

.vibes-logger-line-init {
    color:#999999;
}

.vibes-logger-line-webvital {
    color:#5197D5;
}

.vibes-logger-line-resource {
    color:#915EB1;
}

.vibes-logger-line-navigation {
    color:#B5C148;
}

.vibes-control{
    border-radius: 4px;
    padding: 4px;
}

.vibes-control-inactive{
    background-color: #f1f1f1;
    color: #AAAAAA;
    cursor: default;
}

.vibes-control-active{
    background-color: #f1f1f1;
    color: #0073aa;
    cursor: pointer;
}

.vibes-control-active:hover{
    background-color: #0073aa;
    color: #FFFFFF;
    cursor: pointer;
}

.vibes-control-hint {
    font-size: 12px;
    line-height: 2.4em;
    font-family: sans-serif;
    color: #808080;
    text-align: right;
    float: right;
    margin-top: 12px;
    margin-right: 12px;
}
